@media only screen and (max-width: 768px) {
    .main-container {
        background-size: auto; 
        background-position: top; 
    }
}

.icon-inv{
    margin-right: -15px;
}

.zoom-on {
    transition: transform 0.3s;
}

.zoom-on:hover {
    transform: scale(1.05); 
}

.fadein {
    animation: fadeIn 0.3s;
    -moz-animation: fadeIn 0.3s; /* Firefox */
    -webkit-animation: fadeIn 0.3s; /* Safari and Chrome */
    -o-animation: fadeIn 0.3s; /* Opera */  
}

@keyframes fadeIn {
    from { opacity:0; }
    to { opacity:1;}
}

@-moz-keyframes fadeIn { /* Firefox */
    from { opacity:0; }
    to { opacity:1; }
}

@-webkit-keyframes fadeIn { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadeIn { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}